@model Todos.Models.Register.RegisterViewModel

<h2>Зареєструватися</h2>

<form asp-action="Register" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" type="email" required />
    </div>
    <div>
        <label>Пароль</label>
        <input asp-for="Password" type="password" required />
    </div>
    <button type="submit">Зареєструватися</button>
</form>